<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if eaten}}Eaten!{{else}}Order me!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
